@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Lato-Bold';
  src: url('Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('Lato-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('resurser/lato_font/lato-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lato-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body {
	margin: 0;
	max-width: 100%;
	max-height: 100%;
	text-decoration-style: none;
	background: #f7fbfc
}
#navbar_buttons {
	background-color:#4BB4AD;
	position: fixed;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: 80px;
}
#navbar_buttons a:link {
	text-decoration: none;
}
#navbar_buttons a:visited {
	text-decoration: none;
	color: white;
}
#navbar_buttons a:hover {
	text-decoration: none;
	color: #9ad3de;
}
#navbar_buttons a:active {
	text-decoration: none;
}
.navbar_li_item {
	display: inline-block;
    color: white;
    padding: 14px 60px 20px 20px;
    text-decoration: none;
	float: right;
	font-size: 8pt;
	font-family: Lato-Bold;
}
@media only screen and (max-width: 768px) {
	#navbar_buttons {
		width: 768px;
	}
}
#logo_container {
	height: 100%;
	max-height: 80px;
	width: 250px;	;
	max-width: 250px;
	overflow: hidden;
	padding-left: 60px;
	position: fixed;
}
#screenshot_img {
	padding-top: 80px;
	width: 100%;
	height: 100%;
}
.newsbox_container {
	padding-left: 50px;
	margin: 0px;
	width: 100%;
}
.grid_container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}
div.gallery {
	height: 100%;
	width: 100%;
	max-width: 400px;
	margin-top: 10%;
	margin-bottom: 15%;
}

div.gallery:hover {
    style: none;
}
div.gallery img {
    width: 100%;
    height: 100%;
	border: solid 40px #9ad3de;
	border-top: solid 25px #9ad3de;
	margin-bottom: -10px;
	max-height: 300px;
	max-width: 500px;
}
a {
	text-decoration: none;
	color:#000000;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #4bb5ab;
}
a:active {
	text-decoration: none;
}
#headline {
	font-family: lato;
}
.desc {
    padding: 10%;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: poppins;
	background: #9ad3de;
	font-size: 10pt;
	width: 100%;
}
.headline {
	background: #ebf6f8;
	margin-top: -9%;
	padding: 15px;
	width: 100%;
	heigth: 100%;
}
@media only screen and (max-width: 768px) {
	.newsbox_container {
		width: 350px;
		height: 200px;
		margin-top: 70px;
		margin-bottom: 270px;
	}
}
@media only screen and (max-width: 400px) {
	.newsbox_container {
		width: 350px;
		height: 200px;
		padding-left: 10px;
	}
}
@media only screen and (max-width: 2560px) {
	.grid_container {
		grid-template-columns: auto auto auto;
	}
}
@media only screen and (max-width: 1024px) {
	.grid_container {
		grid-template-columns: auto auto;
	}
}
@media only screen and (max-width: 768px) {
    .grid_container {
		grid-template-columns: auto auto;
		margin: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .grid_container {
		grid-template-columns: auto;
		margin: 0px;
    }
}
@media only screen and (max-width: 375px) {
	.grid_container {
		width: 100%;
		grid-template-columns: auto;
	}
}
@media only screen and (max-width: 378px) {
	#screenshot_responsive {
		width: 400px;
	}
}
@media only screen and (max-width: 320px) {
	#screenshot_responsive {
		width: 400px;
	}
}
@media only screen and (max-width: 400px) {
	.footer_responsive {
		width: 400px;
	}
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.gallery_box_top {
	height: 40px;
	width: 100%;
	background:#4bb5ab;
	border-top-left-radius: 75%;
}
div .so_me_buttons {
	height: 30px !important; 
	width: 30px !important; 
	overflow: hidden !important;
	background:#4bb5ab !important;
	border: 0px !important;
	margin: 0px 7px 0px 0px !important;
	padding: 0px !important;	
}
div .so_me_logo_container {
	height: 30px ;
	width: 70px ;
	display: flex;
	float: right;
	margin: 5px;
}
* {
    box-sizing: border-box;
}
.footer {
	width: 100%;
	max-width: 1920px;
	margin-top: 100px;
	background-color: #4BB4AD;
	height: 500px;
	min-width: 100%;
}
.footer_logo img {
	display: flex;
	margin-left: 45%;
	height: 65px;
	width: 80px;
	margin-top: -100px;
}
.we_are_tendo h3 {
	margin-left: 65%;
	display: flex;
	margin-top: -200px;
	font-family: poppins;
}
.we_are_tendo p {
	margin-left: 65%;
	font-family: poppins;
}
.footer_so_me {
	max-width: 100px;
	max-height: 30px;
	margin: 75%;
	display: flex;
	margin-top: 3%
}
.footer_fb_logo {
	width: 30px;
	margin-right: 10px;
}
.footer_insta_logo {
	width: 30px;
	margin-left: 25%;
}
.footer_adresse h3 {
	display: flex;
	font-family: poppins;
	margin: 25px 0 0 50px;
}
.footer_adresse p {
	display: flex;
	font-family: poppins;
	margin: 0 0 0 50px;
}
.footer_contact h3 {
	display: flex;
	font-family: poppins;
	margin-left: 50px;
	margin-bottom: -20px;
}
.footer_contact p {
	display: flex;
	font-family: poppins;
	margin-left: 50px;
}
.footer_block {
	height: 100px;
	width: 100%;
	background-color: #4BB4AD;
	margin-top: 100px;
}
.footer_color_block {
	background-color:#9AD3DE;
	height: 50px;
	width: 100%;
}